@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.lightGreenV");
  --foreground: #222222;

  --lightGreenV: #e6f5f0;
  --inputGreenV: #b2d8d2;
  --darkGreenV: #078571;
  --offWhiteV: #fbfbfb;
  --lightGrayV: #535353;
  --bodyText: #222222;
  --orangeV: #f38b11;
  --greenDisabledV: #609c92;
  --boxShadowV: rgba(0, 0, 0, 0.3);
}

.light {
  --background: theme("colors.lightGreenV");
  --foreground: #222222;
  --primary: theme("colors.darkGreenV");
}

.dark {
  --background: rgba(27, 42, 32);
  /* --background: #163020; */
  --foreground: #f9fafb;
  --primary: #385f38;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-circular), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary font-black text-offWhiteV rounded py-2 px-5 w-fit;
  }

  .box-basic {
    @apply bg-offWhiteV shadow-primary shadow-boxShadowV p-4;
  }

  .settings-form {
    @apply flex flex-col gap-y-3 w-1/2;

    div {
      @apply flex flex-col gap-y-1 text-lg;
    }
  }
}

@layer base {
  input {
    @apply bg-inputGreenV text-black p-1;
    &:focus {
      @apply outline-none;
    }
    &::placeholder {
      @apply text-gray-500;
    }
  }

  h2 {
    @apply font-bold text-2xl;
  }

  h3 {
    @apply m-auto ml-0 font-bold text-xl;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px theme("colors.inputGreenV") inset;
  }
}
