@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.lightGreenV");
  --foreground: darkGreenV;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-circular), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-darkGreenV font-black text-offWhiteV rounded py-2 px-5 w-fit;
  }
}

@layer base {
  input {
    @apply bg-inputGreenV text-black;
    &:focus {
      @apply outline-none;
    }
    &::placeholder {
      @apply text-gray-500;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px theme("colors.inputGreenV") inset;
  }
}
