@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.lightGreen");
}

body {
  background: var(--background);
  font-family: "circularBold", Arial, Helvetica, sans-serif;
}
